/Year 1/Biorobotics/Soft Robotics and New Technologies/III - Nonlinear analysis through FEM/1-Overview/HW01MicrostructureofMaterials.zip
/Year 1/Second semester/Modeling Multi-Physics Phenomena/De Simone/Comsol/Von Karman.mph
/Year 1/Second semester/Modeling Multi-Physics Phenomena/Tognetti/examples/Example#4NerveCuffStimulation/NerveCuffStimulation2.mph
/Year 1/Second semester/Modeling Multi-Physics Phenomena/Tognetti/examples/Example#4NerveCuffStimulation/NerveCuffStimulationActivation.mph
/Year 1/Second semester/Modeling Multi-Physics Phenomena/Tognetti/examples/Fellner_paper/axon_3d2.mph
/Year 1/Second semester/Modeling Multi-Physics Phenomena/Tognetti/examples/InterlockedPressureSensor/interlockedDomes.mph
